{% extends "base.html" %}
{% block title %}Tracks{% endblock %}
{% block content %}
    <h2>Best Lap Times</h2>
    <p>
      Hello
      {% if user %}
        {{ user.name | striptags }}
      {% endif %}!

        <p>This is the Best Lap Times section. Here is the list of  the TOP 3 public Lap Times for every
    Circuit across the World. </p>
    </p>
     <table id='myTable' class="highlight">
        <tbody>
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
        </tbody>
      </table>
{% endblock %}